@use 'styles/global.scss';


/* common styles */
@layer components {
  .form-input-base {
    @apply w-full h-[60px] px-5 py-[17px] rounded border-[1.5px] border-borderGray font-avenir font-normal text-base leading-[150%] text-dark bg-white;
  }

  .form-input-error {
    @apply border-red border-[1.5px];
  }

  .flex-50 {
    flex: 0 0 50%;
  }

  .flex-100 {
    flex: 0 0 100%;
  }
}


/* label styles */
.label-base {
  @apply text-darkBlue text-sm font-semibold leading-[150%];
}

label {
  @apply flex items-center justify-between font-caslon font-medium text-sm leading-[140%] tracking-[0.03em] text-dark capitalize h-5;

  >a {
    @apply text-chocolate underline;
  }

  >img {
    @apply ml-2 cursor-pointer;
  }
}


/* checkbox input */
.checkbox-container {
  @apply flex items-center gap-2 py-3 pr-4 pl-1;
}

.checkbox-icon-wrapper {
  @apply relative w-6 h-6;
}

.checkbox-label {
  @apply font-avenir text-base leading-[160%] tracking-[0.5px] normal-case align-middle;

  a {
    @apply px-1.5;
  }
}


/* dropdown input */
.dropdown-custom {
  @apply flex flex-col gap-1.5 flex-100;

  select.form-input {
    @apply form-input-base appearance-none pr-1;

    background: url('/src/assets/dropdown.svg') no-repeat right 20px center;
    background-size: 10px 5.5px;

    &.error,
    &.error:hover,
    &.error:focus {
      @apply form-input-error outline-none;
    }
  }
}


/* text input - email full, text half width */
.text-input-wrapper {
  @apply w-full sm:w-1/2 flex flex-col gap-1.5 flex-100 sm:flex-50;
}

.email-input-wrapper {
  @apply flex flex-col gap-1.5 flex-100;
}

.textinput-custom {
  input.form-input {
    @apply form-input-base appearance-none;

    &.error {
      @apply form-input-error;
    }
  }
}


/* phone number input */
.phone-number {
  &-container {
    @apply flex flex-col gap-1.5 flex-100;
  }

  &-wrapper {
    @apply w-full h-[60px] bg-white rounded border border-borderGray px-5 py-[17px];

    &.error {
      @apply border-red;
    }

    .PhoneInputInput {
      @apply w-full px-1 font-avenir font-normal text-base leading-[150%] text-dark bg-transparent;
    }
  }
}