@font-face {
  font-family: 'Big Caslon';
  src: url('assets/fonts/Big_Caslon_CC.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('assets/fonts/Avenir_LT_Std_35_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('assets/fonts//Avenir_LT_Std_45_Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('assets/fonts/Avenir_LT_Std_55_Roman.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('assets/fonts/Avenir_LT_Std_65_Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
